.flexbox {
    display: flex;
    flex-direction: row;
}

.lightblue {
    background-color: lightblue;
}

.lightpink {
    background-color: lightpink;
}

.div1 {
    width: 50px;
}

.div2 {
    flex: 1;
}

.div3 {
    width: 75px;
}